@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
   <div class="banner">
            <a asp-controller="Equipe" asp-action="Index" class="btn gradient">INSCREVA-SE</a>
        </div>

        <div class="sobre">
            <div class="container">
                <div>
                    <h1>O QUE É O EPLAYERS?</h1>
        <p> O EPlayers foi desenvolvido por programadores brasileiros, entusiastas do e-sports, com intuito de conseguir proporcionar uma mudança neste mercado. Nosso objetivo é oferecer uma plataforma intuitiva e conveniente para que os jogadores de todos os níveis consigam se divertir, e ao mesmo tempo serem recompensados por suas vitórias!
        A plataforma proporciona a todos os jogadores a competirem em torneios, além de fornecer notícias diárias do cenário atual do mundo dos games, como reportagens e placares de jogos das principais ligas!
        
        </p>
        <p> Criado para sua melhor expêriencia e projetado visando gerar comodidade, agilidade e ao mesmo tempo organização para todos aqueles
         que desejam acompanhar seus campeonatos, estudar seus adversários e, acima de tudo, controlar suas estatísticas.
         Boa sorte para você e sua equipe e se divirta!
        Nos vemos nos Torneios.
        </p>
                </div>
            </div>
        </div>
        <img src="images/ahri.png" alt="Imagem de um 
    campeão do lol" class="champion">

        <section id="horarios">

            <div class="container">
                <div class="ao_vivo">
                    <h2>AO VIVO</h2>
                    <div class="partida">
                        <strong>SK</strong>
                        <img src="Images/SK.png" alt="Logo da equipe SK">
                        <I>VS</I>
                        <img src="Images/FLA.png" alt="Logo da equipe do Flamengo">
                        <strong>FLA</strong>
                    </div>
                </div>

                <div class="em_breve">
                    <h2>EM BREVE</h2>
                    <div class="partida">
                        <strong>SK</strong>
                        <img src="Images/SK.png" alt="Logo da equipe SK">
                        <I>VS</I>
                        <img src="Images/FLA.png" alt="Logo da equipe do Flamengo">
                        <strong>FLA</strong>
                    </div>
                    <div class="partida">
                        <strong>SK</strong>
                        <img src="Images/SK.png" alt="Logo da equipe SK">
                        <I>VS</I>
                        <img src="Images/FLA.png" alt="Logo da equipe do Flamengo">
                        <strong>FLA</strong>
                    </div>
                    <div class="partida">
                        <strong>SK</strong>
                        <img src="Images/SK.png" alt="Logo da equipe SK">
                        <I>VS</I>
                        <img src="Images/FLA.png" alt="Logo da equipe do Flamengo">
                        <strong>FLA</strong>
                    </div>
                </div>
            </div>
        </section>

        <div class="container content">
            <section class="noticias">
                <div class="card">
                    <img src="Images/Teams/T1.jpeg" alt="Notícia sobra assunto 1">
                    <div>
                        <h4>Nova Streamer</h4>
                        <p> Nessa Sexta (17), a INTZ anunciou sua nova streamer parceira, Isadora Basile ingressa oficialmente no time da equipe como streamer de Rainbow Six Siege....</p>
                    </div>
                </div>


                <div class="card">
                    <img src="Images/Teams/T2.jpg" alt="Notícia sobra assunto 1">
                    <div>
                        <h4>ESL terá brasileiros no time</h4>
                        <p> A equipe brasileira de Counter Strike: Global Offensive (CS:GO) Sharks, venceu a FURIA na final da ESL Latin America e garantiu vaga para a ESL Pro League Dallas.</p>
                    </div>
                </div>

                <div class="card">
                    <img src="Images/Teams/T3.jpeg" alt="Notícia sobra assunto 1">
                    <div>
                        <h4>Título da Noticia</h4>
                        <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos quibusdam quidem praesentium
                            velit vel sapiente nemo obcaecati veritatis dolorum odio facere, quisquam mollitia quo eum.
                            Aspernatur quam reiciendis ratione dolorem!</p>
                    </div>
                </div>

                <div class="card">
                    <img src="Images/Teams/T9.jpeg" alt="Notícia sobra assunto 1">
                    <div>
                        <h4>Título da Noticia</h4>
                        <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos quibusdam quidem praesentium
                            velit vel sapiente nemo obcaecati veritatis dolorum odio facere, quisquam mollitia quo eum.
                            Aspernatur quam reiciendis ratione dolorem!</p>
                    </div>
                </div>

                <div class="card">
                    <img src="Images/Teams/T5.jpeg" alt="Notícia sobra assunto 1">
                    <div>
                        <h4>Título da Noticia</h4>
                        <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos quibusdam quidem praesentium
                            velit vel sapiente nemo obcaecati veritatis dolorum odio facere, quisquam mollitia quo eum.
                            Aspernatur quam reiciendis ratione dolorem!</p>
                    </div>
                </div>

                <div class="card">
                    <img src="Images/Teams/T7.jpeg" alt="Notícia sobra assunto 1">
                    <div>
                        <h4>Título da Noticia</h4>
                        <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos quibusdam quidem praesentium
                            velit vel sapiente nemo obcaecati veritatis dolorum odio facere, quisquam mollitia quo eum.
                            Aspernatur quam reiciendis ratione dolorem!</p>
                    </div>
                </div>
            </section>
            <section class="recentes" id="resultados">
                <h3>PARTIDAS RECENTES</h3>

                <div class="resultado">
                    <div class="team">
                        <strong>SK</strong>
                        <img src="Images/SK.png" alt="Logo da equipe SK">
                        <I>VS</I>
                        <img src="Images/FLA.png" alt="Logo da equipe do Flamengo">
                        <strong>FLA</strong>
                    </div>
                    <div class="placar">
                        <P>3 x 2</p>
                    </div>
                </div>
                <div class="resultado">
                    <div class="team">
                        <strong>SK</strong>
                        <img src="Images/SK.png" alt="Logo da equipe SK">
                        <I>VS</I>
                        <img src="Images/FLA.png" alt="Logo da equipe do Flamengo">
                        <strong>FLA</strong>
                    </div>
                    <div class="placar">
                        <P>3 x 2</p>
                    </div>
                </div>
                <div class="resultado">
                    <div class="team">
                        <strong>SK</strong>
                        <img src="Images/SK.png" alt="Logo da equipe SK">
                        <I>VS</I>
                        <img src="Images/FLA.png" alt="Logo da equipe do Flamengo">
                        <strong>FLA</strong>
                    </div>
                    <div class="placar">
                        <P>3 x 2</p>
                    </div>
                </div>
                <div class="resultado">
                    <div class="team">
                        <strong>SK</strong>
                        <img src="Images/SK.png" alt="Logo da equipe SK">
                        <I>VS</I>
                        <img src="Images/FLA.png" alt="Logo da equipe do Flamengo">
                        <strong>FLA</strong>
                    </div>
                    <div class="placar">
                        <P>3 x 2</p>
                    </div>
                </div>
                <div class="resultado">
                    <div class="team">
                        <strong>SK</strong>
                        <img src="Images/SK.png" alt="Logo da equipe SK">
                        <I>VS</I>
                        <img src="Images/FLA.png" alt="Logo da equipe do Flamengo">
                        <strong>FLA</strong>
                    </div>
                    <div class="placar">
                        <P>3 x 2</p>
                    </div>
                </div>
                <div class="resultado">
                    <div class="team">
                        <strong>SK</strong>
                        <img src="Images/SK.png" alt="Logo da equipe SK">
                        <I>VS</I>
                        <img src="Images/FLA.png" alt="Logo da equipe do Flamengo">
                        <strong>FLA</strong>
                    </div>
                    <div class="placar">
                        <P>3 x 2</p>
                    </div>
                </div>
                <a href="todos_os_resultados.html" class="btn gradient">mais resultados</a>
            </section>
        </div>